<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sp.sitepermissions.mod.deactivate" type="OGN.Sharepoint.Services.SitePermissionsSection" />
    <section name="sp.sitepermissions.edu.deactivate" type="OGN.Sharepoint.Services.SitePermissionsSection" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="eventlogsource" value="OGN_Sharepoint_Services_SyncEduSitesService" />
    <add key="sp.sitecollection:mod:url" value="http://acc-teamwise.ogn.eu/module/" />
    <add key="sp.sitecollection:edu:url" value="http://acc-teamwise.ogn.eu/opleiding/" />
    <add key="sp.site:lcid" value="1033"/>
    <add key="sp.modsite:template" value="{F04F4DEA-2D39-475A-A462-64CC39783135}#ModuleTemplate" />
    <add key="sp.modsite:list2edu" value="Links" />
    <add key="sp.edusite:template" value="{E1D89542-7318-4E5D-A856-AB59A282C0C7}#OpleidingTemplate" />
    <add key="sp.edusite:list2mod" value="Links" />
    <add key="sp.termstore:id" value="6f5a554e-4667-46eb-aabd-9739b1c5a8d6" />
    <add key="sp.termstore.termset:id" value="a571a3e6-ac38-442e-8ea5-c98bc3cbaaf2" />
    <add key="sp.termstore.termset.modset:id" value="c68d43c8-bee0-4cf4-a1d4-f8329710ae91" />
    <add key="sp.termstore.termset.eduset:id" value="95adde66-646d-4b27-9242-0972360881bf" />
    <add key="smtp:from" value="NoReply_OGN_SharePoint_Service@loi.nl" />
    <add key="smtp.sitecreatednotification:to" value="" />
    <add key="smtp.errornotification:to" value="" />
  </appSettings>
  <sp.sitepermissions.mod.deactivate>
    <permissions>
      <add sitegroup="module Members" permission="Read" />
      <add sitegroup="module Owners" permission="Full Control" />
      <add sitegroup="module Visitors" permission="Read" />
    </permissions>
  </sp.sitepermissions.mod.deactivate>
  <sp.sitepermissions.edu.deactivate>
    <permissions>
      <add sitegroup="opleiding Members" permission="Read" />
      <add sitegroup="opleiding Owners" permission="Full Control" />
      <add sitegroup="opleiding Visitors" permission="Read" />
    </permissions>
  </sp.sitepermissions.edu.deactivate>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>