<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SyncOpleidingscatalogusService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49947/SyncEduSitesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SyncOpleidingscatalogusService" contract="SyncService.SyncOpleidingscatalogusService" name="BasicHttpBinding_SyncOpleidingscatalogusService"/>
        </client>
    </system.serviceModel>
</configuration>
