<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="sp.sitepermissions.mod.deactivate" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />
    <section name="sp.sitepermissions.edu.deactivate" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />

    <section name="sp.sitepermissions.mod.site.ontwikkeldossier" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />

    <section name="sp.sitepermissions.mod.doclib.Berichten" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />
    <section name="sp.sitepermissions.mod.doclib.FAQ" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />
    <section name="sp.sitepermissions.mod.doclib.Examendossier" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />

    <section name="sp.sitepermissions.edu.doclib.Berichten" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />
    <section name="sp.sitepermissions.edu.doclib.FAQ" type="OGN.Sharepoint.Services.SitePermissionsSection, OGN.Sharepoint.Services" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="eventlogsource" value="OGN_Sharepoint_Services_SyncEduSitesService" />
    <add key="sp.sitecollection:mod:url" value="http://acc-teamwise.ogn.eu/modules/" />
    <add key="sp.sitecollection:mod:HomeUrl" value="http://acc-teamwise.ogn.eu/module/" />
    <add key="sp.sitecollection:mod:count" value="5" />
    <add key="sp.sitecollection:mod:maxSiteCount" value="1000" />

    <add key="sp.sitecollection:edu:url" value="http://acc-teamwise.ogn.eu/opleidingen/" />
    <add key="sp.sitecollection:edu:HomeUrl" value="http://acc-teamwise.ogn.eu/opleiding/" />
    <add key="sp.sitecollection:edu:count" value="3" />
    <add key="sp.sitecollection:edu:maxSiteCount" value="1000" />


    <add key="sp.sitecollection:edu:list2sites" value="Opleidingsmatrix" />
    <add key="sp.sitecollection:edu:list2sites:column" value="Title" />
    <add key="sp.sitecollection:edu:list2sites:schoolcolumn" value="School" />

    <add key="sp.sitecollection:mod:list2sites" value="Modulematrix" />
    <add key="sp.sitecollection:mod:list2sites:column" value="Title" />
    <add key="sp.sitecollection:mod:list2sites:schoolcolumn" value="School" />

    <add key="sp.site:lcid" value="1043"/>

    <add key="sp.modsite:template" value="{29CC0718-9EF4-462F-9DC3-4583F86C3BEB}#PT_ModuleSite_V14" />
    <add key="sp.modsite:list2edu" value="Links" />
    <add key="sp.modsite:list2edu:column" value="Comments" />
    <add key="sp.modsite:list2edu:value" value="Opleidingssite" />

    <add key="sp.edusite:template" value="ACC_Opleidingssite_V9" />
    <add key="sp.edusite:list2mod" value="Links" />
    <add key="sp.edusite:list2mod:column" value="Comments" />
    <add key="sp.edusite:list2mod:value" value="Modulesite" />

    <add key="sp.modsite.subsite:template" value="{3C9BB2B4-B0A9-4ADE-A8BC-BC5730C28CC5}#PT_Ontwikkeldossier_V10" />
    <add key="sp.modsite.subsite:title" value="Ontwikkeldossier" />
    <add key="sp.modsite.subsite:id" value="ontwikkeldossier" />

    <add key="sp.termstore:id" value="6f5a554e-4667-46eb-aabd-9739b1c5a8d6" />
    <add key="sp.termstore.termset:id" value="a571a3e6-ac38-442e-8ea5-c98bc3cbaaf2" />
    <add key="sp.termstore.termset.modset:id" value="c68d43c8-bee0-4cf4-a1d4-f8329710ae91" />
    <add key="sp.termstore.termset.eduset:id" value="95adde66-646d-4b27-9242-0972360881bf" />

    <add key="smtp:from" value="NoReply_OGN_SharePoint_Service@loi.nl" />
    <add key="smtp.sitecreatednotification:to" value="" />
    <add key="smtp.errornotification:to" value="" />
  </appSettings>
  <sp.sitepermissions.mod.deactivate>
    <permissions>
      <add sitegroup="Modulesite leden" permission="Lezen" />
      <add sitegroup="Eigenaren van Modulesite" permission="Volledig Beheer" />
      <add sitegroup="Bezoekers van Modulesite" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.mod.deactivate>
  <sp.sitepermissions.edu.deactivate>
    <permissions>
      <add sitegroup="Opleidingsite leden" permission="Lezen" />
      <add sitegroup="Eigenaren van Opleidingsite" permission="Volledig Beheer" />
      <add sitegroup="Bezoekers van Opleidingsite" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.edu.deactivate>
  <sp.sitepermissions.mod.site.ontwikkeldossier type="dynamic">
    <permissions>
      <add sitegroup="Productie" permission="Volledig Beheer" />
      <add sitegroup="Realisatiemanagement" permission="Volledig Beheer" />
    </permissions>
  </sp.sitepermissions.mod.site.ontwikkeldossier>
  <sp.sitepermissions.edu.doclib.Berichten>
    <permissions>
      <add sitegroup="Eigenaren van Opleidingsite" permission="Volledig Beheer" />
      <add sitegroup="Berichten leden" permission="Bijdragen" />
      <add sitegroup="Berichten bezoekers" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.edu.doclib.Berichten>
  <sp.sitepermissions.edu.doclib.FAQ>
    <permissions>
      <add sitegroup="Eigenaren van Opleidingsite" permission="Volledig Beheer" />
      <add sitegroup="FAQ Leden" permission="Bijdragen" />
      <add sitegroup="FAQ Bezoekers" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.edu.doclib.FAQ>
  <sp.sitepermissions.mod.doclib.Berichten>
    <permissions>
      <add sitegroup="Eigenaren van Modulesite" permission="Volledig Beheer" />
      <add sitegroup="Berichten leden" permission="Bijdragen" />
      <add sitegroup="Berichten bezoekers" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.mod.doclib.Berichten>
  <sp.sitepermissions.mod.doclib.FAQ>
    <permissions>
      <add sitegroup="Eigenaren van Modulesite" permission="Volledig Beheer" />
      <add sitegroup="FAQ Leden" permission="Bijdragen" />
      <add sitegroup="FAQ Bezoekers" permission="Lezen" />
    </permissions>
  </sp.sitepermissions.mod.doclib.FAQ>
  <sp.sitepermissions.mod.doclib.Examendossier>
    <permissions>
      <add sitegroup="Examendossier Eigenaren" permission="Volledig Beheer" />
    </permissions>
  </sp.sitepermissions.mod.doclib.Examendossier>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.ad.ogn.eu" password="" port="25" userName="" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
